# Ignore Terraform directories and files
.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

# Add other files to ignore as needed
**/.terraform/*

# .tfstate files

# .tfvars files
*.tfvars
